.help-icon {
  position: fixed;
  right: 5vw;
  bottom: 5vh;
  color: white;
  background-color: rgb(31, 31, 240);
  padding: 15px;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}

/* .help-icon:hover{
  background-color: green;
} */

.help-icon-active{
  background-color: green;
}

/* .help-icon-active:hover{
  background-color: rgb(31, 31, 240);
} */
.help-card{
  position: fixed;
  border-radius: 0 30px;
  margin-bottom: 20px;
  width: 30%;
  right: 5vw;
  bottom: 15vh;
  z-index: 1;
  padding: 10px 30px;
  background-color: rgb(185, 243, 224);
}

.help-card:hover{
  box-shadow: 10px 10px 20px rgb(5, 10, 9);
}

.help-cross{
  display: flex;
  justify-content: right;
  margin: 15px 0;
  cursor: pointer;
}

.help-btn-div{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin: 20px 0;
}

.help-btn-div button{
  width: 20%;
  font-size: 15px;
  border: none;
  padding: 10px 0;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid transparent;

}

.help-btn-div button:hover{
  background: transparent;
  border: 1px solid green;
  color: red;
  box-shadow: 0 0 20px rgb(19, 231, 161);
  transform: scale(1.1);
}