.help-icon {
  position: fixed;
  right: 5vw;
  bottom: 5vh;
  color: white;
  background-color: rgb(31, 31, 240);
  padding: 15px;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}

.help-icon-active{
  background-color: green;
}

.help-card{
  position: fixed;
  border-radius: 0 30px;
  margin-bottom: 20px;
  width: 30%;
  right: 5vw;
  bottom: 15vh;
  z-index: 1;
  padding: 10px 30px;
  background-color: #22313f;
  color: #e4f1fe;
}

.help-card:hover{
  box-shadow: 10px 10px 20px rgb(5, 10, 9);
}

.help-cross{
  display: flex;
  justify-content: right;
  margin: 15px 0;
  cursor: pointer;
}

.help-btn-div{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin: 20px 0;
}

.help-btn-div button{
  min-width: 20%;
  font-size: 15px;
  color: #e4f1fe;
  border: none;
  background-color: #34495e;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 20px;
}

.help-btn-ative{
  background: #8dc6ff !important;
  color: #22313f !important;
}

.help-btn-div button:hover{
  background: #8dc6ff;
  color: #22313f;
}