.admin-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    background-color: #d8c5c5;
    height: 50px;
}

.nav-active{
    color: rgb(197, 77, 77);
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgb(230, 60, 60);
    text-decoration-thickness: 5px;
}

.admin-nav h3:hover{
    color: rgb(197, 77, 77);
    cursor: pointer;
}