.head{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
}

.box{
    background-color: bisque;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.categories{
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.categories ul{
    display: flex;
    list-style: none;
}

.categories li{
    padding: 10px 20px;
    background-color: gray;
    color: #f7f3f3;
    margin: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: blue;
    font-size: 12px;
}

.table-history{
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-color: #ece0e0;
    overflow: auto;
}

.col-red{
    color: red;
    font-weight: bolder;
    text-transform: uppercase;
}

.col-green{
    font-weight: bolder;
    color: green;
    text-transform: uppercase;
}

.payment-active{
    background-color: #db7272 !important;
    color: black !important;
}