.container-about{
  display: flex;
    justify-content: space-evenly;
}

.card-about{
    border: 2px wheat solid;
    height: 50%;
    background-color: aliceblue;
    width: 20%;
    margin: 50px 0;
}

.card-about:hover{
    border: 2px black solid;
}

.img-about{
    height: 150px;
    width: 100%;
}

.card-title{
    color: gray;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

.card-para{
    color: gray;
    font-size: 15px;
    padding: 10px;
}


.volunteer{  
  display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.volunteer-top{
    display: flex;
    width: 80%;
    margin: 20px;
}

.volunteer-left{
  /* background-color: #12284c; */
    background-image:linear-gradient(rgba(57, 97, 182, 0.7), rgba(3, 56, 87, 0.7)), url('/src/assets/about/volunteer.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    width: 30%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.volunteer-left h1{
    text-shadow: 2px 2px 5px white;
}

.volunteer-right{
    background-color: white;
    width: 70%;
    color: gray;
    font-size: 20px;
    padding: 50px 50px;
}

.volunteer-title{
    background-color: #12284c;
    text-align: center;
    color: aliceblue;
    font-weight: 900;
    font-size: 40px;
}

.volunteer-about{
  background-color: aliceblue;
    padding: 30px 10%;
    margin-bottom: 50px;
    color: gray;
    font-size: 20px;
}

.volunteer-about h2{
    color: rgb(80, 79, 79);
    font-size: 25px;
    margin-bottom: 20px;
}

.volunteer-about ul{
    list-style: none;
}

.volunteer-cards{
  display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    justify-content: space-evenly;
}

.volunteer-card{
   width: 30%;
    color: #12284c;
    margin: 50px 0;
}

.volunteer-card h1{
    height: 20%;
}
.volunteer-card img{
    width: 100%;
    margin-bottom: 15px;
    height: 200px;
}

.volunteer-card button{
    border:#12284c 2px solid;
    background-color: transparent;
    color: #12284c;
    font-weight: 600;
    padding: 10px;
    /* height: 30px; */
    width: 30%;
    overflow: hidden;
    margin-top: 25px;
}

.volunteer-card button:hover{
    background-color: #12284c;
    color: white;
}

/* background: #234987ba; */