.container-home{
    display: flex;
    justify-content: space-evenly;
}

.left-home{
    width: 50%;
    border: 2px solid black;
}

.left-home img{
    height: 400px;
    width: 100%;
    filter: brightness(80%);
}

.right-home{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}



.home-flex{
    display: flex;
    justify-content: center;
  }

  .home-img{
    height: 150px;
    width: 150px;
  }

  .home-card{
    border: solid whitesmoke;
    box-shadow: 5px 10px 18px #888888, 0 0 25px grey;
    border-radius: 20px;
    margin: 10px;
    height: 350px;
    width: 300px;
    padding: 20px;
    margin-bottom: 35px;
    text-align: center;
  }
  .home-card:hover{
    transform: scale(1.07);
   }