/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.container-donate{
    display: flex;
    background-image: url("https://donatenow.wfp.org/cdn.iraiser.eu/CMtktXtXB9PisWSC3vcC/Q==/default/origin/genericbackground.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px 0;
}
.left-donate{
    width: 50%;
}

.info{
   margin: 50px;
   border: 2px solid red;
   background-color: black;
   padding: 20px;
   color: red;
}

.info h1{
    color: antiquewhite;
    padding-bottom: 20px;
}

.info p{
    padding-bottom: 10px;
    color: antiquewhite;
}

.info ul{
    color: aliceblue;
    padding-left: 10px;
    line-height: 25px;
    padding-bottom: 10px;
}

.info h2{
    color: azure;
}
.right-donate{
    width: 50%;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
}

.donate-tittle{
    margin: 20px;
    text-align: center;
}

.option{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.option span{
   padding-left: 10px;
   font-size: 20px;
}


.donate{
    background-color: rgb(198, 224, 247);
    width: 70%;
    height: 100%;
}

.donate-imgs{
    height: 300px;
    background-size: cover;
    width: 100%;
}

.donate-styled-text{
    background-color: aqua;
    margin: 20px;
    padding: 5px;
}

.donate-payment{
   padding: 20px;
}

.field{
    width: 100%;
    background-color: whitesmoke;
}

.err{
    color: red;
    padding-bottom: 10px;
}

.donate-info{
    padding: 20px;
    color: gray;
}

.donate-end{
    background-color: #0b77c2;
    padding: 20px;
    color: antiquewhite;
}