.container-nav{
    display: flex;
    justify-content: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.left{
width: 50%;
}

.left img{
    height: 70px;
    width: 120px;
}

.right{
display: flex;
width: 40%;
justify-content: space-between;
list-style: none;
}

.items{
    text-decoration: none;
    font-size: 20px;
    color: black;

}

.items:hover{
    color: red;
}
