.container-nav{
  display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.left{
width: 40%;
}

.left img{
    height: 70px;
    width: 120px;
}

.middle{
display: flex;
width: 40%;
justify-content: space-between;
list-style: none;
}

.items{
    text-decoration: none;
    font-size: 20px;
    padding-right: 10px;
    color: black;
}

.items:hover{
    color: grey;
}

.items-active{
    text-decoration: underline;
    text-decoration-color: pink;
    padding-right: 10px;
    text-underline-offset: 10px;
    font-size: 20px;
    color: red;
}

.right{
    display: flex;
    justify-content: right;
    width: 20%;
}

.admin{
    display: flex;
    justify-content: center;
    padding-left: 50px;
}
