*{
  margin: 0;
  padding: 0;
  /* font-family: cursive; */
  /* font-family: monospace; */
}

.App {
  color: black;
  background-image:url(/src/assets/bg9.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding:20px 20px;
  padding-top: 0;
}
